<div class="swiper">
  <div class="swiper-wrapper">
    <!-- <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 4</div>
    <div class="swiper-slide">Slide 5</div> -->

    <div class="project swiper-slide">
      <div class="preview">
        <div class="preview__toggle">
          <!-- <span (click)="toggleProject(0)" -->
          <span><strong>No Preview Available</strong></span>
        </div>
        <img src="/assets/projects/TrackMinder.webp" alt="" />
        <iframe
          src=""
          frameborder="0"
          [ngClass]="{ active: isProjectActive[0] }"
        ></iframe>
      </div>
      <div class="body">
        <div class="details">
          <div class="title">
            <a
              href="https://github.com/Zenith-Creations/TrackMinder"
              target="_blank"
              class=""
              rel="noopener"
            >
              <strong>TrackMinder &nbsp; · &nbsp; Mobile App</strong>
            </a>
            <i class="fa-solid fa-arrow-up"></i>
          </div>
          <div class="description">
            <span
              >Trackminder is an all-in-one reminder, planner, scheduler, and
              tracker app designed to help users organize their tasks,
              appointments, health, and goals efficiently. To be Beta Released
              on October.</span
            >
          </div>
        </div>
        <div class="links">
          <div class="link">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <strong>
              <span data-flip="StartUp Project"> Mobile Development</span>
            </strong>
          </div>
        </div>
        <div class="skills">
          <div class="skill">Angular</div>
          <div class="skill">Ionic Framework</div>
          <div class="skill">Typescript</div>
          <div class="skill">SCSS</div>
          <div class="skill">GitHub</div>
        </div>
      </div>
    </div>

    <div class="project swiper-slide">
      <div class="preview">
        <div class="preview__toggle">
          <span (click)="toggleProject(1)"><strong>Preview</strong></span>
        </div>
        <img src="/assets/projects/atg.png" alt="" />
        <iframe
          src="https://atg-db.netlify.app/"
          frameborder="0"
          [ngClass]="{ active: isProjectActive[1] }"
        ></iframe>
      </div>
      <div class="body">
        <div class="details">
          <div class="title">
            <a
              href="https://atg-db.netlify.app/"
              target="_blank"
              class=""
              rel="noopener"
            >
              <strong>Against the Gods Database &nbsp; · &nbsp; Web App</strong>
            </a>
            <i class="fa-solid fa-arrow-up"></i>
          </div>
          <div class="description">
            <span
              >My personal fan-made website for the Against The Gods
              Donghua/Anime</span
            >
          </div>
        </div>
        <div class="links">
          <div class="link">
            <i class="fa-solid fa-laptop-code"></i>
            <strong>
              <span data-flip="Personal Project"> Web Development</span>
            </strong>
          </div>
        </div>
        <div class="skills">
          <span class="skill">Bootstrap 5</span>
          <span class="skill">HTML:5</span>
          <div class="skill">SCSS</div>
          <span class="skill">Parse Platform</span>
          <span class="skill">Back4App</span>
        </div>
      </div>
    </div>

    <div class="project swiper-slide">
      <div class="preview">
        <div class="preview__toggle">
          <span (click)="toggleProject(2)"><strong>Preview</strong></span>
        </div>
        <img src="/assets/projects/AlBuy.png" alt="" />
        <iframe
          [ngClass]="{ active: isProjectActive[2] }"
          src="https://albuy.netlify.app/"
          frameborder="0"
        ></iframe>
      </div>
      <div class="body">
        <div class="details">
          <div class="title">
            <a
              href="https://albuy.netlify.app/"
              target="_blank"
              class=""
              rel="noopener"
            >
              <strong>AlBuy &nbsp; · &nbsp; E-commerce Web App</strong>
            </a>
            <i class="fa-solid fa-arrow-up"></i>
          </div>
          <div class="description">
            <span
              >An E-commerce platform for DTI's One Town, One Product Hubs in
              Albay, Bicol.</span
            >
          </div>
        </div>
        <div class="links">
          <div class="link">
            <i class="fa-solid fa-laptop-code"></i>
            <strong>
              <span data-flip="Capstone Project"> Web Development</span>
            </strong>
          </div>
        </div>
        <div class="skills">
          <div class="skill">Vue JS</div>
          <div class="skill">Node JS</div>
          <div class="skill">Parse Platform</div>
          <div class="skill">TeleportHQ</div>
          <div class="skill">Figma</div>
          <div class="skill">Back4App</div>
        </div>
      </div>
    </div>

    <div class="project swiper-slide">
      <div class="preview">
        <div class="preview__toggle">
          <span (click)="toggleProject(4)"><strong>Preview</strong></span>
        </div>
        <img
          src="/assets/projects/case study 1 preview.jpg"
          alt=""
          class="fill"
        />
        <video
          loop
          muted
          autoplay
          [playbackRate]="0.75"
          class="docs"
          [ngClass]="{ active: isProjectActive[4] }"
        >
          <source src="/assets/projects/case study 1.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <!-- <iframe
          class="docs"
          [ngClass]="{ active: isProjectActive[4] }"
          src="/assets/projects/case study 1.mp4"
          frameborder="0"
        ></iframe> -->
      </div>
      <div class="body">
        <div class="details">
          <div class="title">
            <a
              href="/assets/docs/casestudy1.pdf"
              target="_blank"
              class=""
              download=""
            >
              <strong>Data Analysis &nbsp; · &nbsp; R-Studio</strong>
            </a>
            <i class="fa-solid fa-arrow-up"></i>
          </div>
          <div class="description">
            <span
              >Procurement Management of the Resources Used During the First
              Quarter by Philippine Government Agencies as Response Measures to
              the COVID-19 Pandemic in the Bicol Region.</span
            >
          </div>
        </div>
        <div class="links">
          <div class="link">
            <i class="fa-solid fa-flask"></i>
            <strong>
              <span data-flip="Case Study"> Data Analytics</span>
            </strong>
          </div>
        </div>
        <div class="skills">
          <div class="skill">R-Studio</div>
          <div class="skill">R</div>
          <div class="skill">Data Visualization</div>
        </div>
      </div>
    </div>

    <div class="project swiper-slide">
      <div class="preview">
        <div class="preview__toggle">
          <span (click)="toggleProject(3)"><strong>Preview</strong></span>
        </div>
        <img
          src="/assets/projects/case study 2 preview.jpg"
          alt=""
          class="fill"
        />
        <video
          loop
          muted
          autoplay
          class="docs"
          [ngClass]="{ active: isProjectActive[3] }"
        >
          <source src="/assets/projects/case study 2.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <!-- <iframe
          class="docs"
          [ngClass]="{ active: isProjectActive[3] }"
          src="/assets/projects/case study 2.mp4"
          frameborder="0"
        ></iframe> -->
      </div>
      <div class="body">
        <div class="details">
          <div class="title">
            <a
              href="/assets/docs/casestudy2.pdf"
              target="_blank"
              class=""
              download=""
            >
              <strong>Data Analysis &nbsp; · &nbsp; Tableau</strong>
            </a>
            <i class="fa-solid fa-arrow-up"></i>
          </div>
          <div class="description">
            <span
              >An Analysis of Pre-Disaster Preparedness in Albay, Bicol
              Region.</span
            >
          </div>
        </div>
        <div class="links">
          <div class="link">
            <i class="fa-solid fa-flask"></i>
            <strong>
              <span data-flip="Case Study"> Data Analytics</span>
            </strong>
          </div>
        </div>
        <div class="skills">
          <div class="skill">Tableau</div>
          <div class="skill">Microsoft Excel</div>
          <div class="skill">Data Visualization</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
