:host {
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
}

.swiper {
  --swiper-theme-color: rgb(var(--color-button-primary));
  width: 100%;
  height: 100%;
}
.swiper .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(24rem, 1fr));
  align-items: center;
  justify-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
}
.swiper .swiper-wrapper .project {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  transition: 0.1s;
  height: 100%;
  width: 100% !important;
  margin-right: 0 !important;
}
.swiper .swiper-wrapper .project div {
  display: flex;
  flex-direction: inherit;
}
.swiper .swiper-wrapper .project:hover {
  background-color: rgba(var(--color-card-bg-hover), 0.5);
  filter: drop-shadow(0 10px 8px rgba(var(--color-card-shadow), 0.04)) drop-shadow(0 4px 3px rgba(var(--color-card-shadow), 0.1));
  --tw-ring-offset-shadow: 0 0 rgb(var(--color-black));
  --tw-ring-shadow: 0 0 rgb(var(--color-black));
  --tw-shadow: inset 0 1px 0 0 rgba(var(--color-card-inset-shadow), 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgb(var(--color-black))), var(--tw-ring-shadow, 0 0 rgb(var(--color-black))), var(--tw-shadow);
}
.swiper .swiper-wrapper .project:hover .body .links .link strong span {
  position: relative;
  display: inline-block;
  padding: 0;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  animation: flip 5s infinite, textclip 5s linear infinite;
  transition: color 0.3s;
}
.swiper .swiper-wrapper .project:hover .body .links .link strong span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-flip);
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: left;
  white-space: nowrap;
}
.swiper .swiper-wrapper .project:has(.skills .skill:hover) .body i {
  background-size: 200% auto;
  color: rgb(var(--color-text-primary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s linear infinite;
  background-image: var(--linear-gradient-animate);
}
.swiper .swiper-wrapper .project:has(.skills .skill:hover) .body strong span {
  background-size: 200% auto;
  color: rgb(var(--color-text-primary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--linear-gradient-animate);
}
.swiper .swiper-wrapper .project:has(.skills .skill:hover) .body strong span:before {
  transition: color 0.3s;
  background-size: 200% auto;
  color: rgb(var(--color-text-primary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4.95s linear infinite;
  background-image: var(--linear-gradient-animate);
}
.swiper .swiper-wrapper .project:not(:has(.skills .skill:hover)):hover .body .details .title a {
  background-size: 200% auto;
  color: rgb(var(--color-text-primary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s linear infinite;
  background-image: var(--linear-gradient-animate);
}
.swiper .swiper-wrapper .project:not(:has(.skills .skill:hover)):hover .body .details .title i {
  transform: translate(0, -0.5rem);
  color: rgb(var(--color-button-primary));
}
.swiper .swiper-wrapper .project .preview {
  min-height: 15rem;
  aspect-ratio: 2/1;
  position: relative;
}
.swiper .swiper-wrapper .project .preview img,
.swiper .swiper-wrapper .project .preview iframe {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.swiper .swiper-wrapper .project .preview:has(iframe.active) img {
  display: none;
}
.swiper .swiper-wrapper .project .preview img {
  display: flex;
}
.swiper .swiper-wrapper .project .preview iframe {
  display: none;
  zoom: 0.25;
}
.swiper .swiper-wrapper .project .preview iframe.active {
  display: flex;
}
.swiper .swiper-wrapper .project .preview:has(iframe:not(.active)):hover .preview__toggle {
  display: flex;
}
.swiper .swiper-wrapper .project .preview .preview__toggle {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.swiper .swiper-wrapper .project .preview .preview__toggle span {
  font-size: 1rem;
  cursor: pointer;
}
.swiper .swiper-wrapper .project .preview .preview__toggle span:hover strong {
  color: rgb(var(--color-button-primary)) !important;
}
.swiper .swiper-wrapper .project .preview:hover span {
  opacity: 1;
}
.swiper .swiper-wrapper .project .preview:hover img {
  opacity: 0.4;
}
.swiper .swiper-wrapper .project .body {
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
.swiper .swiper-wrapper .project .body .details {
  gap: 0.5rem;
}
.swiper .swiper-wrapper .project .body .details .title {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: rgb(var(--color-text-primary));
  cursor: pointer;
}
.swiper .swiper-wrapper .project .body .details .title a {
  text-decoration: none;
}
.swiper .swiper-wrapper .project .body .details .title i {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  transform: rotate(45deg);
  transition: 0.3s;
}
.swiper .swiper-wrapper .project .body .details .description {
  flex-direction: row;
}
.swiper .swiper-wrapper .project .body .details .description span {
  min-height: 4lh;
  line-height: 1.5;
  font-size: 0.875rem;
  color: rgb(var(--color-text-secondary));
}
.swiper .swiper-wrapper .project .body .details .description span i {
  color: rgb(var(--color-text-secondary));
}
.swiper .swiper-wrapper .project .body .links {
  flex-direction: row;
  gap: 1rem;
}
.swiper .swiper-wrapper .project .body .links .link {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  align-items: center;
  text-decoration: none;
  color: rgb(var(--color-text-primary));
  cursor: pointer;
}
.swiper .swiper-wrapper .project .body .links .link i {
  padding-top: 0.125rem;
  font-size: 0.675rem;
  color: rgb(var(--color-text-primary));
}
.swiper .swiper-wrapper .project .body .links .link span {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(var(--color-text-primary));
}
.swiper .swiper-wrapper .project .body .skills {
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.swiper .swiper-wrapper .project .body .skills .skill {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  color: rgb(var(--color-button-primary));
  background-color: rgba(var(--color-button-bg-primary), 0.1);
  border-radius: 0.75rem;
  cursor: pointer;
}
.swiper .swiper-wrapper .project .preview__toggle {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.75rem;
}/*# sourceMappingURL=swiper-projects.component.css.map */