ion-content {
  --background: var(--primary-bg);
  position: relative;
  z-index: 1;

  &:hover {
    &::before {
      --size: 75rem;
      pointer-events: none;
    }
  }
  &::before {
    --size: 0rem;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(
      circle closest-side,
      rgba(29, 78, 216, 0.15),
      transparent 80%
    );
    // background: radial-gradient(600px at 1577px 1694px, rgba(29, 78, 216, 0.15), transparent 80%);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
    z-index: 1;
    pointer-events: none;
  }

  &:has(nav .menu__sidebar .meteor__toggle.active) .meteors {
    display: block;
  }

  .meteors {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;
    scroll-snap-type: y proximity;
    position: relative;
    z-index: 2;
    pointer-events: all;
    gap: 1rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    scrollbar-width: none; /* Firefox */

    :-webkit-scrollbar {
      display: none;
    }

    & div,
    section {
      display: flex;
      flex-direction: inherit;
    }

    nav {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      position: fixed;
      padding: 1.5rem 3rem;
      // top: 3rem;
      // left: 3rem;
      z-index: 3;
      backdrop-filter: blur(0.25rem);
      -webkit-backdrop-filter: blur(0.25rem);

      .menu {
        // &__icon {
        // }

        &__span {
          font-weight: bold;
          cursor: pointer;
        }

        &__sidebar {
          button {
            &.meteor__toggle {
              background: transparent;

              i {
                color: var(--primary-color);
              }

              &.active {
                i {
                  color: var(--tertiary-color);
                }
              }

              &:not(.active) {
                &:hover {
                  i {
                    color: var(--tertiary-color);
                  }
                }
              }
            }
          }

          i {
            font-size: 1.25rem;
            color: var(--primary-color);
            transition: 0.3s;
          }
        }
      }
    }

    section {
      width: 100%;
      min-height: 100vh;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      scroll-snap-align: center;
      position: relative;

      .item {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        // z-index: 3;
        // pointer-events: none;

        &__header {
          font-size: 3.75rem;

          span {
            strong {
              cursor: default;
            }
          }
        }

        &__subheader {
          line-height: 1.65;
          font-size: 1.125rem;

          span {
            color: var(--secondary-color);
          }
        }

        &__button {
          width: auto;
          padding: 1rem 3rem;
          border: 2px solid;
          border-radius: 0.5rem;
          position: relative;
          cursor: pointer;

          &:hover {
            background-color: rgba(45, 212, 191, 0.7) !important;
          }

          .label {
            color: var(--primary-bg);
          }
        }
      }

      &#hero {
        position: relative;
        scroll-snap-align: center;

        .item {
          flex-direction: column;
          width: 60%;

          &__header {
            font-size: 5rem;
          }

          &__subheader {
            font-size: 1.5rem;
            width: 60%;
          }
        }

        .avatar {
          position: absolute;
          // width: 100%;
          // height: 100%;
          top: 1rem;
          right: 3rem;
        }
      }

      &#work {
        display: grid;
        grid-template-columns: calc(40% - 2rem) calc(60% - 2rem);
        width: 100%;
        height: 100%;
        padding-block: 4.25rem 1rem;
        // padding-inline: 5rem 3rem;
        align-items: flex-start;
        gap: 4rem;
        align-items: start;
        justify-items: center;
        scroll-snap-align: end;

        .about__us {
          flex-direction: column;
          width: 60%;
          position: sticky;
          top: 4.25rem;
          gap: 3rem;
          align-items: flex-start;
          padding-bottom: 1rem;
          padding-inline: 5rem 0;

          .item__header {
            span {
              font-size: 3rem;
            }
          }

          .body {
            gap: 1rem;
          }
        }

        .work__container {
          width: 100%;
          height: 100%;
          gap: 4rem;
          align-items: start;
          justify-items: center;
          overflow-y: scroll;
          // padding-right: rem;
          padding-inline: 0 5rem;

          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
            border-radius: 1rem;
          }

          &::-webkit-scrollbar {
            width: 0.5rem;
            background-color: transparent;
            border-radius: 1rem;
          }

          &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 1rem;
          }

          & span {
            --font-inter: "__inter_20b187", "__inter_Fallback_20b187";
            font-family: var(--font-inter), ui-sans-serif, system-ui,
              -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
              "Helvetica Neue", Arial, "Noto Sans", sans-serif,
              "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
              "Noto Color Emoji";
            font-weight: 600;
          }

          // .item {
          //   position: sticky;
          //   bottom: 0;
          //   gap: 3rem;
          //   align-self: flex-end;

          //   .item__header {
          //     span {
          //       font-size: 3rem;
          //     }
          //   }

          //   .body {
          //     gap: 1rem;
          //   }
          // }

          .work__list {
            flex-direction: column;
            gap: 1.5rem;

            .header {
              flex-direction: row;
              width: auto;
              padding-inline: 1rem;

              .div {
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;

                &:hover {
                  span {
                    strong {
                      color: var(--tertiary-color);
                    }
                  }

                  i {
                    transform: translate(0, -0.5rem);
                    color: var(--tertiary-color);
                  }
                }

                i {
                  font-size: 0.75rem;
                  margin-top: 0.25rem;
                  rotate: 45deg;
                  transition: 0.3s;
                }
              }
            }

            &:has(.work:hover) {
              .work {
                &:not(:hover) {
                  opacity: 0.5;
                }
              }
            }

            .work {
              flex-direction: row;
              align-items: center;
              // justify-content: space-between;
              padding: 1rem;
              gap: 2rem;
              border-radius: 0.25rem;
              overflow: hidden;
              backdrop-filter: blur(0.25rem);
              -webkit-backdrop-filter: blur(0.25rem);

              transition: 0.1s;
              cursor: pointer;

              &:hover {
                background-color: rgba(30, 41, 59, 0.5);
                filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
                  drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
                --tw-ring-offset-shadow: 0 0 #0000;
                --tw-ring-shadow: 0 0 #0000;
                --tw-shadow: inset 0 1px 0 0 rgba(148, 163, 184, 0.1);
                box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
                  var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
              }

              &:not(:has(.links .link:hover)) {
                &:hover {
                  .body {
                    .details {
                      .title {
                        a {
                          background-size: 200% auto;
                          color: var(--primary-color);
                          background-clip: text;
                          -webkit-background-clip: text;
                          -webkit-text-fill-color: transparent;
                          animation: textclip 1s linear infinite;
                          background-image: var(--linear-gradient-animate);
                        }

                        i {
                          transform: translate(0, -0.5rem);
                          color: var(--tertiary-color);
                        }
                      }
                    }
                  }
                }
              }

              .date {
                width: 100%;
                height: 100%;
                align-self: flex-start;
                max-width: 8rem;
                margin-block: 0.25rem;

                span {
                  font-weight: 600;
                  font-size: 0.75rem;
                  line-height: 1rem;
                  color: var(--accent-color);
                }
              }

              .body {
                flex-direction: column;
                gap: 1rem;

                .details {
                  gap: 0.5rem;

                  .title {
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 1rem;
                    color: var(--primary-color);

                    // &:has(a:hover) {
                    //   i {
                    //     transform: translate(0, -0.5rem);
                    //     color: var(--tertiary-color);
                    //   }
                    // }

                    a {
                      text-decoration: none;
                    }

                    i {
                      font-size: 0.75rem;
                      margin-top: 0.25rem;
                      rotate: 45deg;
                      transition: 0.3s;
                    }
                  }

                  .description {
                    flex-direction: row;

                    span {
                      line-height: 1.5;
                      font-size: 0.875rem;
                      color: var(--secondary-color);

                      i {
                        color: var(--secondary-color);
                      }
                    }
                  }
                }

                .links {
                  flex-direction: row;
                  gap: 1rem;

                  a.link {
                    display: flex;
                    flex-direction: row;
                    gap: 0.375rem;
                    align-items: center;
                    text-decoration: none;
                    color: var(--primary-color);
                    cursor: pointer;

                    &:hover {
                      i,
                      span {
                        color: var(--tertiary-color);
                      }
                    }

                    i {
                      font-size: 0.675rem;
                      margin-top: 0.25rem;
                    }

                    span {
                      font-weight: 600;
                      font-size: 0.875rem;
                      line-height: 1.25rem;
                    }
                  }
                }

                .skills {
                  flex-direction: row;
                  gap: 1rem;
                  align-items: center;
                  flex-wrap: wrap;

                  .skill {
                    font-size: 0.75rem;
                    line-height: 1.25rem;
                    font-weight: 500;
                    padding: 0.25rem 0.75rem;
                    color: rgb(94 234 212);
                    background-color: rgba(45, 212, 191, 0.1);
                    border-radius: 0.75rem;
                  }
                }
              }

              &.education {
                .body {
                  .details {
                    .description {
                      flex-direction: column;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &#projects {
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-block: 4.25rem 2rem;
        // padding-inline: 5rem 3rem;
        justify-content: flex-start;
        align-items: center;
        scroll-snap-align: end;
        gap: 2rem;

        .section__header {
          width: 100%;
          align-items: center;

          .title {
            span {
              font-size: 3rem;

              strong {
                cursor: default;
              }
            }
          }

          .subtitle {
            width: 50%;

            span {
              text-align: right;
              font-size: 1rem;
            }
          }
        }

        .section__body {
          width: 100%;
          height: 100%;
          gap: 4rem;
          align-items: center;
          // justify-items: center;
          justify-content: center;
          // overflow-y: scroll;
          // scrollbar-width: none;
          padding-inline: 5rem 0;

          .project__list {
            display: grid;
            grid-template-columns: repeat(7, minmax(24rem, 1fr));
            // grid-auto-rows: 1fr;
            overflow-x: auto;
            align-items: center;
            width: 100%;
            // height: 100%;
            // max-width: 50rem;
            gap: 3rem;
            padding-block: 2.5rem;
            scrollbar-width: none;
            cursor: grab;

            &:active {
              cursor: grabbing;
            }
            &:has(.project:hover) {
              .project {
                &:not(:hover) {
                  opacity: 0.5;
                }
              }
            }

            .project {
              flex-direction: column;
              padding: 1rem;
              gap: 1rem;
              border-radius: 0.25rem;
              overflow: hidden;
              backdrop-filter: blur(0.25rem);
              -webkit-backdrop-filter: blur(0.25rem);
              transition: 0.1s;
              height: 100%;

              &:hover {
                background-color: rgba(30, 41, 59, 0.5);
                filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
                  drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
                --tw-ring-offset-shadow: 0 0 #0000;
                --tw-ring-shadow: 0 0 #0000;
                --tw-shadow: inset 0 1px 0 0 rgba(148, 163, 184, 0.1);
                box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
                  var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

                .body {
                  .links {
                    .link {
                      strong {
                        span {
                          position: relative;
                          display: inline-block;
                          padding: 0;
                          transform-origin: 50% 0;
                          transform-style: preserve-3d;
                          animation: flip 5s infinite,
                            textclip 5s linear infinite;
                          transition: color 0.3s;

                          &:before {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            content: attr(data-flip);
                            transform: rotateX(-90deg);
                            transform-origin: 50% 0;
                            text-align: left;
                            white-space: nowrap;
                          }
                        }
                      }
                      // &:hover {

                      // }
                    }
                  }
                }
              }

              &:has(.skills .skill:hover) {
                .body {
                  i {
                    background-size: 200% auto;
                    color: var(--primary-color);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 1s linear infinite;
                    background-image: linear-gradient(
                      -225deg,
                      #fff 0%,
                      #34ffe0 48%,
                      #5eead4 100%
                    );
                  }

                  strong {
                    span {
                      background-size: 200% auto;
                      color: var(--primary-color);
                      background-clip: text;
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                      // animation: textclip 1s linear infinite;
                      background-image: linear-gradient(
                        -225deg,
                        #fff 0%,
                        #34ffe0 48%,
                        #5eead4 100%
                      );

                      &:before {
                        transition: color 0.3s;
                        background-size: 200% auto;
                        color: var(--primary-color);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        animation: textclip 4.95s linear infinite;
                        background-image: linear-gradient(
                          -225deg,
                          #fff 0%,
                          #34ffe0 48%,
                          #5eead4 100%
                        );
                      }
                    }
                  }
                }
              }
              &:not(:has(.skills .skill:hover)) {
                &:hover {
                  .preview {
                    img {
                      display: none;
                    }

                    iframe {
                      display: flex;
                    }
                  }

                  .body {
                    .details {
                      .title {
                        a {
                          background-size: 200% auto;
                          color: var(--primary-color);
                          background-clip: text;
                          -webkit-background-clip: text;
                          -webkit-text-fill-color: transparent;
                          animation: textclip 1s linear infinite;
                          background-image: var(--linear-gradient-animate);
                        }

                        i {
                          transform: translate(0, -0.5rem);
                          color: var(--tertiary-color);
                        }
                      }
                    }
                  }
                }
              }

              .preview {
                min-height: 15rem;
                aspect-ratio: 2 / 1;

                img,
                iframe {
                  width: 100%;
                  height: 100%;
                }

                img {
                  display: flex;
                }

                iframe {
                  display: none;
                  zoom: 0.25;
                }
              }

              .body {
                flex-direction: column;
                gap: 1rem;
                // height: 100%;
                justify-content: space-between;

                .details {
                  gap: 0.5rem;

                  .title {
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 1rem;
                    color: var(--primary-color);
                    cursor: pointer;

                    a {
                      text-decoration: none;
                    }

                    i {
                      font-size: 0.75rem;
                      margin-top: 0.25rem;
                      rotate: 45deg;
                      transition: 0.3s;
                    }
                  }

                  .description {
                    flex-direction: row;

                    span {
                      min-height: 4lh;
                      line-height: 1.5;
                      font-size: 0.875rem;
                      color: var(--secondary-color);

                      i {
                        color: var(--secondary-color);
                      }
                    }
                  }
                }

                .links {
                  flex-direction: row;
                  gap: 1rem;

                  .link {
                    display: flex;
                    flex-direction: row;
                    gap: 0.375rem;
                    align-items: center;
                    text-decoration: none;
                    color: var(--primary-color);
                    cursor: pointer;

                    // &:hover {
                    //   i,
                    //   span strong {
                    //     color: var(--tertiary-color);
                    //   }
                    // }

                    i {
                      padding-top: 0.125rem;
                      font-size: 0.675rem;
                      color: var(--primary-color);
                    }

                    span {
                      // font-weight: 600;
                      font-size: 0.875rem;
                      line-height: 1.25rem;
                      color: var(--primary-color);
                    }
                  }
                }

                .skills {
                  flex-direction: row;
                  gap: 1rem;
                  align-items: center;
                  flex-wrap: wrap;

                  .skill {
                    font-size: 0.75rem;
                    line-height: 1.25rem;
                    font-weight: 500;
                    padding: 0.25rem 0.75rem;
                    color: rgb(94 234 212);
                    background-color: rgba(45, 212, 191, 0.1);
                    border-radius: 0.75rem;
                    cursor: pointer;
                  }
                }
              }

              .preview__toggle {
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                font-size: 0.75rem;

                // ion-toggle {
                //   width: auto;
                // }
              }
            }
          }
        }
      }
    }
  }
}
