<ion-content #mainElement [fullscreen]="true">
  <main>
    <nav>
      <div class="menu">
        <div class="menu__icon"></div>
        <span class="menu__span" data-color="primary-color">MENU</span>
      </div>
    </nav>
    <section id="hero">
      <div class="item" data-color="primary-color">
        <div class="item__header">
          <span>
            Hi, my <br />
            name is <strong>Jimz</strong>.
          </span>
        </div>
        <div class="item__subheader">
          <span>
            I'm a <strong>junior software developer</strong> from <br />
            Makati, Philippines.
          </span>
        </div>
      </div>
      <div class="avatar">
        <app-avatar></app-avatar>
      </div>
    </section>

    <section id="work">
      <div class="item" data-color="primary-color">
        <div class="item__header">
          <span><strong> Let's work together. </strong></span>
        </div>
        <div class="item__subheader">
          <span>
            From interaction design to scaleable design systems, single-page
            apps to something more experimental with WebGL. I help awesome
            people to build ambitious yet accessible web projects -
            <strong> the wilder, the better </strong>.
          </span>
        </div>
        <a
          class="item__button"
          data-color="tertiary-color"
          data-color-bg="transparent-color"
        >
          <span class="label"><strong>About my approach</strong></span>
          <span class="fill"><strong>About my approach</strong></span>
        </a>
      </div>
    </section>

    <section></section>
  </main>
</ion-content>
