<ion-content #mainElement [fullscreen]="true">
  <div class="meteors">
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
  </div>
  <main>
    <nav>
      <div class="menu">
        <div class="menu__icon"></div>
        <span class="menu__span" data-color="primary-color">MENU</span>
      </div>
      <div class="menu__sidebar">
        <!-- <button type="button" class="meteor__toggle">
          <i class="fa-solid fa-meteor"></i>
        </button> -->
        <button
          type="button"
          class="meteor__toggle"
          (click)="toggleClass($event)"
          [ngClass]="{'active': isActive}"
        >
          <i class="fa-solid fa-meteor"></i>
        </button>
      </div>
    </nav>
    <section id="hero">
      <div class="item" data-color="primary-color">
        <div class="item__header">
          <span>
            Hi, my <br />
            name is<strong class="text-highlight hover"> Jimz</strong>.
          </span>
        </div>
        <div class="item__subheader">
          <span>
            I'm a
            <strong class="textflip-animate">
              <span data-flip="frontend developer">
                junior software developer</span
              > </strong
            ><br />
            from Makati, Philippines.
          </span>
        </div>
      </div>
      <div class="avatar">
        <!-- <app-avatar></app-avatar> -->
      </div>
    </section>

    <section id="work">
      <div class="item" data-color="primary-color">
        <div class="item__header">
          <span
            ><strong class="text-highlight hover">
              Let's work together.
            </strong></span
          >
        </div>
        <div class="item__subheader">
          <span>
            From interaction design to scaleable design systems, single-page
            apps to something more experimental with WebGL. I help awesome
            people to build ambitious yet accessible web projects -
            <strong> the wilder, the better </strong>.
          </span>
        </div>
        <a
          class="item__button"
          data-color="tertiary-color"
          data-color-bg="transparent-color"
        >
          <span class="label"><strong>About my approach</strong></span>
          <span class="fill"><strong>About my approach</strong></span>
        </a>
      </div>
    </section>

    <section id="experience"></section>
  </main>
</ion-content>

<!-- 
animation: {
        meteor: "meteor 5s linear infinite",
      },
keyframes: {
  meteor: {
    "0%": { transform: "rotate(215deg) translateX(0)", opacity: 1 },
    "70%": { opacity: 1 },
    "100%": {
      transform: "rotate(215deg) translateX(-500px)",
      opacity: 0,
    },
  },
}, -->
