ion-content {
  --background: var(--primary-bg);
  position: relative;
  z-index: 1;
}
ion-content:hover::before {
  --size: 75rem;
  pointer-events: none;
}
ion-content::before {
  --size: 0rem;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgba(29, 78, 216, 0.15), transparent 80%);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  z-index: 1;
  pointer-events: none;
}
ion-content:has(nav .menu__sidebar .meteor__toggle.active) .meteors {
  display: block;
}
ion-content .meteors {
  display: none;
}
ion-content main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  position: relative;
  z-index: 2;
  pointer-events: all;
  gap: 1rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  scrollbar-width: none; /* Firefox */
}
ion-content main :-webkit-scrollbar {
  display: none;
}
ion-content main div,
ion-content main section {
  display: flex;
  flex-direction: inherit;
}
ion-content main nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: fixed;
  padding: 1.5rem 3rem;
  z-index: 3;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
}
ion-content main nav .menu__span {
  font-weight: bold;
  cursor: pointer;
}
ion-content main nav .menu__sidebar button.meteor__toggle {
  background: transparent;
}
ion-content main nav .menu__sidebar button.meteor__toggle i {
  color: var(--primary-color);
}
ion-content main nav .menu__sidebar button.meteor__toggle.active i {
  color: var(--tertiary-color);
}
ion-content main nav .menu__sidebar button.meteor__toggle:not(.active):hover i {
  color: var(--tertiary-color);
}
ion-content main nav .menu__sidebar i {
  font-size: 1.25rem;
  color: var(--primary-color);
  transition: 0.3s;
}
ion-content main section {
  width: 100%;
  min-height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  position: relative;
}
ion-content main section .item {
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
ion-content main section .item__header {
  font-size: 3.75rem;
}
ion-content main section .item__header span strong {
  cursor: default;
}
ion-content main section .item__subheader {
  line-height: 1.65;
  font-size: 1.125rem;
}
ion-content main section .item__subheader span {
  color: var(--secondary-color);
}
ion-content main section .item__button {
  width: auto;
  padding: 1rem 3rem;
  border: 2px solid;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}
ion-content main section .item__button:hover {
  background-color: rgba(45, 212, 191, 0.7) !important;
}
ion-content main section .item__button .label {
  color: var(--primary-bg);
}
ion-content main section#hero {
  position: relative;
  scroll-snap-align: center;
}
ion-content main section#hero .item {
  flex-direction: column;
  width: 60%;
}
ion-content main section#hero .item__header {
  font-size: 5rem;
}
ion-content main section#hero .item__subheader {
  font-size: 1.5rem;
  width: 60%;
}
ion-content main section#hero .avatar {
  position: absolute;
  top: 1rem;
  right: 3rem;
}
ion-content main section#work {
  display: grid;
  grid-template-columns: calc(40% - 2rem) calc(60% - 2rem);
  width: 100%;
  height: 100%;
  padding-block: 4.25rem 1rem;
  align-items: flex-start;
  gap: 4rem;
  align-items: start;
  justify-items: center;
  scroll-snap-align: end;
}
ion-content main section#work .about__us {
  flex-direction: column;
  width: 60%;
  position: sticky;
  top: 4.25rem;
  gap: 3rem;
  align-items: flex-start;
  padding-bottom: 1rem;
  padding-inline: 5rem 0;
}
ion-content main section#work .about__us .item__header span {
  font-size: 3rem;
}
ion-content main section#work .about__us .body {
  gap: 1rem;
}
ion-content main section#work .work__container {
  width: 100%;
  height: 100%;
  gap: 4rem;
  align-items: start;
  justify-items: center;
  overflow-y: scroll;
  padding-inline: 0 5rem;
}
ion-content main section#work .work__container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
}
ion-content main section#work .work__container::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
  border-radius: 1rem;
}
ion-content main section#work .work__container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}
ion-content main section#work .work__container span {
  --font-inter: "__inter_20b187", "__inter_Fallback_20b187";
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
}
ion-content main section#work .work__container .work__list {
  flex-direction: column;
  gap: 1.5rem;
}
ion-content main section#work .work__container .work__list .header {
  flex-direction: row;
  width: auto;
  padding-inline: 1rem;
}
ion-content main section#work .work__container .work__list .header .div {
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
ion-content main section#work .work__container .work__list .header .div:hover span strong {
  color: var(--tertiary-color);
}
ion-content main section#work .work__container .work__list .header .div:hover i {
  transform: translate(0, -0.5rem);
  color: var(--tertiary-color);
}
ion-content main section#work .work__container .work__list .header .div i {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  rotate: 45deg;
  transition: 0.3s;
}
ion-content main section#work .work__container .work__list:has(.work:hover) .work:not(:hover) {
  opacity: 0.5;
}
ion-content main section#work .work__container .work__list .work {
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  transition: 0.1s;
  cursor: pointer;
}
ion-content main section#work .work__container .work__list .work:hover {
  background-color: rgba(30, 41, 59, 0.5);
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: inset 0 1px 0 0 rgba(148, 163, 184, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}
ion-content main section#work .work__container .work__list .work:not(:has(.links .link:hover)):hover .body .details .title a {
  background-size: 200% auto;
  color: var(--primary-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s linear infinite;
  background-image: var(--linear-gradient-animate);
}
ion-content main section#work .work__container .work__list .work:not(:has(.links .link:hover)):hover .body .details .title i {
  transform: translate(0, -0.5rem);
  color: var(--tertiary-color);
}
ion-content main section#work .work__container .work__list .work .date {
  width: 100%;
  height: 100%;
  align-self: flex-start;
  max-width: 8rem;
  margin-block: 0.25rem;
}
ion-content main section#work .work__container .work__list .work .date span {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--accent-color);
}
ion-content main section#work .work__container .work__list .work .body {
  flex-direction: column;
  gap: 1rem;
}
ion-content main section#work .work__container .work__list .work .body .details {
  gap: 0.5rem;
}
ion-content main section#work .work__container .work__list .work .body .details .title {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--primary-color);
}
ion-content main section#work .work__container .work__list .work .body .details .title a {
  text-decoration: none;
}
ion-content main section#work .work__container .work__list .work .body .details .title i {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  rotate: 45deg;
  transition: 0.3s;
}
ion-content main section#work .work__container .work__list .work .body .details .description {
  flex-direction: row;
}
ion-content main section#work .work__container .work__list .work .body .details .description span {
  line-height: 1.5;
  font-size: 0.875rem;
  color: var(--secondary-color);
}
ion-content main section#work .work__container .work__list .work .body .details .description span i {
  color: var(--secondary-color);
}
ion-content main section#work .work__container .work__list .work .body .links {
  flex-direction: row;
  gap: 1rem;
}
ion-content main section#work .work__container .work__list .work .body .links a.link {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}
ion-content main section#work .work__container .work__list .work .body .links a.link:hover i,
ion-content main section#work .work__container .work__list .work .body .links a.link:hover span {
  color: var(--tertiary-color);
}
ion-content main section#work .work__container .work__list .work .body .links a.link i {
  font-size: 0.675rem;
  margin-top: 0.25rem;
}
ion-content main section#work .work__container .work__list .work .body .links a.link span {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
ion-content main section#work .work__container .work__list .work .body .skills {
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
ion-content main section#work .work__container .work__list .work .body .skills .skill {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  color: rgb(94, 234, 212);
  background-color: rgba(45, 212, 191, 0.1);
  border-radius: 0.75rem;
}
ion-content main section#work .work__container .work__list .work.education .body .details .description {
  flex-direction: column;
}
ion-content main section#projects {
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-block: 4.25rem 2rem;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: end;
  gap: 2rem;
}
ion-content main section#projects .section__header {
  width: 100%;
  align-items: center;
}
ion-content main section#projects .section__header .title span {
  font-size: 3rem;
}
ion-content main section#projects .section__header .title span strong {
  cursor: default;
}
ion-content main section#projects .section__header .subtitle {
  width: 50%;
}
ion-content main section#projects .section__header .subtitle span {
  text-align: right;
  font-size: 1rem;
}
ion-content main section#projects .section__body {
  width: 100%;
  height: 100%;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  padding-inline: 5rem 0;
}
ion-content main section#projects .section__body .project__list {
  display: grid;
  grid-template-columns: repeat(5, minmax(24rem, 1fr));
  overflow-x: auto;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding-block: 2.5rem;
  scrollbar-width: none;
  cursor: grab;
}
ion-content main section#projects .section__body .project__list:active {
  cursor: grabbing;
}
ion-content main section#projects .section__body .project__list .project {
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  transition: 0.1s;
  cursor: pointer;
  height: 100%;
}
ion-content main section#projects .section__body .project__list .project:has(.project:hover) .project:not(:hover) {
  opacity: 0.5;
}
ion-content main section#projects .section__body .project__list .project:hover {
  background-color: rgba(30, 41, 59, 0.5);
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: inset 0 1px 0 0 rgba(148, 163, 184, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}
ion-content main section#projects .section__body .project__list .project:not(:has(.links .link:hover)):hover .preview img {
  display: none;
}
ion-content main section#projects .section__body .project__list .project:not(:has(.links .link:hover)):hover .preview iframe {
  display: flex;
}
ion-content main section#projects .section__body .project__list .project:not(:has(.links .link:hover)):hover .body .details .title a {
  background-size: 200% auto;
  color: var(--primary-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s linear infinite;
  background-image: var(--linear-gradient-animate);
}
ion-content main section#projects .section__body .project__list .project:not(:has(.links .link:hover)):hover .body .details .title i {
  transform: translate(0, -0.5rem);
  color: var(--tertiary-color);
}
ion-content main section#projects .section__body .project__list .project .preview {
  height: 240px;
  aspect-ratio: 2/1;
}
ion-content main section#projects .section__body .project__list .project .preview img,
ion-content main section#projects .section__body .project__list .project .preview iframe {
  width: 100%;
  height: 100%;
}
ion-content main section#projects .section__body .project__list .project .preview img {
  display: flex;
}
ion-content main section#projects .section__body .project__list .project .preview iframe {
  display: none;
  zoom: 0.25;
}
ion-content main section#projects .section__body .project__list .project .body {
  flex-direction: column;
  gap: 1rem;
}
ion-content main section#projects .section__body .project__list .project .body .details {
  gap: 0.5rem;
}
ion-content main section#projects .section__body .project__list .project .body .details .title {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--primary-color);
}
ion-content main section#projects .section__body .project__list .project .body .details .title a {
  text-decoration: none;
}
ion-content main section#projects .section__body .project__list .project .body .details .title i {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  rotate: 45deg;
  transition: 0.3s;
}
ion-content main section#projects .section__body .project__list .project .body .details .description {
  flex-direction: row;
}
ion-content main section#projects .section__body .project__list .project .body .details .description span {
  line-height: 1.5;
  font-size: 0.875rem;
  color: var(--secondary-color);
}
ion-content main section#projects .section__body .project__list .project .body .details .description span i {
  color: var(--secondary-color);
}
ion-content main section#projects .section__body .project__list .project .body .links {
  flex-direction: row;
  gap: 1rem;
}
ion-content main section#projects .section__body .project__list .project .body .links a.link {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}
ion-content main section#projects .section__body .project__list .project .body .links a.link:hover i,
ion-content main section#projects .section__body .project__list .project .body .links a.link:hover span {
  color: var(--tertiary-color);
}
ion-content main section#projects .section__body .project__list .project .body .links a.link i {
  font-size: 0.675rem;
  margin-top: 0.25rem;
}
ion-content main section#projects .section__body .project__list .project .body .links a.link span {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
ion-content main section#projects .section__body .project__list .project .body .skills {
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
ion-content main section#projects .section__body .project__list .project .body .skills .skill {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  color: rgb(94, 234, 212);
  background-color: rgba(45, 212, 191, 0.1);
  border-radius: 0.75rem;
}/*# sourceMappingURL=home.page.css.map */