ion-content {
  --background: var(--primary-bg);
  position: relative;
  z-index: 1;

  &:hover {
    &::before {
      --size: 75rem;
      pointer-events: none;
    }
  }
  &::before {
    --size: 0rem;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(
      circle closest-side,
      rgba(29, 78, 216, 0.15),
      transparent 80%
    );
    // background: radial-gradient(600px at 1577px 1694px, rgba(29, 78, 216, 0.15), transparent 80%);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
    z-index: 1;
    pointer-events: none;
  }

  &:has(nav .menu__sidebar .meteor__toggle.active) .meteors {
    display: block;
  }

  .meteors {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;
    scroll-snap-type: y proximity;
    position: relative;
    z-index: 2;
    pointer-events: all;
    gap: 1rem;

    & div,
    section {
      display: flex;
      flex-direction: inherit;
    }

    nav {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      position: fixed;
      padding: 3rem;
      // top: 3rem;
      // left: 3rem;
      z-index: 3;
      backdrop-filter: blur(0.25rem);

      .menu {
        // &__icon {
        // }

        &__span {
          font-weight: bold;
          cursor: pointer;
        }

        &__sidebar {
          button {
            &.meteor__toggle {
              background: transparent;

              i {
                color: var(--primary-color);
              }

              &.active {
                i {
                  color: var(--tertiary-color);
                }
              }

              &:not(.active) {
                &:hover {
                  i {
                    color: var(--tertiary-color);
                  }
                }
              }
            }
          }

          i {
            font-size: 1.25rem;
            color: var(--primary-color);
            transition: 0.3s;
          }
        }
      }
    }

    section {
      width: 100%;
      min-height: 100vh;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      scroll-snap-align: center;

      .item {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        // z-index: 3;
        // pointer-events: none;

        &__header {
          font-size: 3.75rem;

          span {
            strong {
              cursor: default;
            }
          }
        }

        &__subheader {
          line-height: 1.65;
          font-size: 1.125rem;

          span {
            color: var(--secondary-color);
          }
        }

        &__button {
          padding: 1rem 3rem;
          border: 2px solid;
          border-radius: 0.5rem;
          position: relative;
          cursor: pointer;

          &:hover {
            .fill {
              background-color: rgba(45, 212, 191, 0.7);
            }
          }

          .label {
            position: relative;
            z-index: 2;
          }

          .fill {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.6;
            z-index: 1;
            border-radius: 0.4rem;
            color: var(--primary-bg);
          }
        }
      }

      &#hero {
        position: relative;
        scroll-snap-align: start;

        .item {
          flex-direction: column;
          width: 60%;

          &__header {
            font-size: 5rem;
          }

          &__subheader {
            font-size: 1.5rem;
            width: 60%;
          }
        }

        .avatar {
          position: absolute;
          // width: 100%;
          // height: 100%;
          top: 1rem;
          right: 3rem;
        }
      }

      &#work {
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        grid-template-columns: calc(40% - 2rem) calc(60% - 2rem);
        width: 100%;
        padding-inline: 5rem;
        min-height: 60vh;
        gap: 4rem;
        align-items: start;
        justify-items: center;

        & span {
          --font-inter: "__inter_20b187", "__inter_Fallback_20b187";
          font-family: var(--font-inter), ui-sans-serif, system-ui,
            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            "Helvetica Neue", Arial, "Noto Sans", sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
          font-weight: 600;
        }

        .item {
          gap: 3rem;

          .body {
            gap: 1rem;
          }
        }

        .work__list {
          flex-direction: column;
          gap: 1.5rem;

          .header {
            flex-direction: row;
            width: auto;
            padding-inline: 1rem;

            & div {
              align-items: center;
              gap: 0.5rem;
              cursor: pointer;

              &:hover {
                span {
                  strong {
                    color: var(--tertiary-color);
                  }
                }

                i {
                  transform: translate(0, -0.5rem);
                  color: var(--tertiary-color);
                }
              }

              i {
                font-size: 0.75rem;
                margin-top: 0.25rem;
                rotate: 45deg;
                transition: 0.3s;
              }
            }
          }

          &:has(.work:hover) {
            .work {
              &:not(:hover) {
                opacity: 0.5;
              }
            }
          }

          .work {
            flex-direction: row;
            align-items: center;
            // justify-content: space-between;
            padding: 1rem;
            gap: 2rem;
            border-radius: 0.25rem;
            overflow: hidden;
            backdrop-filter: blur(0.25rem);
            transition: 0.3s;
            cursor: pointer;

            &:hover {
              background-color: rgba(30, 41, 59, 0.5);

              .body {
                .details {
                  .title {
                    a {
                      background-size: 200% auto;
                      color: var(--primary-color);
                      background-clip: text;
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                      animation: textclip 1s linear infinite;
                      background-image: var(--linear-gradient-animate);
                    }

                    i {
                      transform: translate(0, -0.5rem);
                      color: var(--tertiary-color);
                    }
                  }
                }
              }
            }

            .date {
              width: 100%;
              height: 100%;
              align-self: flex-start;
              max-width: 8rem;
              margin-block: 0.25rem;

              span {
                font-weight: 600;
                font-size: 0.75rem;
                line-height: 1rem;
                color: var(--accent-color);
              }
            }

            .body {
              flex-direction: column;
              gap: 1rem;

              .details {
                gap: 0.5rem;

                .title {
                  flex-direction: row;
                  align-items: center;
                  gap: 0.5rem;
                  font-size: 1rem;
                  color: var(--primary-color);

                  // &:has(a:hover) {
                  //   i {
                  //     transform: translate(0, -0.5rem);
                  //     color: var(--tertiary-color);
                  //   }
                  // }

                  a {
                    text-decoration: none;
                  }

                  i {
                    font-size: 0.75rem;
                    margin-top: 0.25rem;
                    rotate: 45deg;
                    transition: 0.3s;
                  }
                }

                .description {
                  span {
                    line-height: 1.5;
                    font-size: 0.875rem;
                    color: var(--secondary-color);
                  }
                }
              }

              .links {
                flex-direction: row;
                gap: 1rem;

                a.link {
                  display: flex;
                  flex-direction: row;
                  gap: 0.375rem;
                  align-items: center;
                  text-decoration: none;
                  color: var(--primary-color);
                  cursor: pointer;

                  &:hover {
                    i,
                    span {
                      color: var(--tertiary-color);
                    }
                  }

                  i {
                    font-size: 0.675rem;
                    margin-top: 0.25rem;
                  }

                  span {
                    font-weight: 600;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                  }
                }
              }

              .skills {
                flex-direction: row;
                gap: 1rem;
                align-items: center;

                .skill {
                  font-size: 0.75rem;
                  line-height: 1.25rem;
                  font-weight: 500;
                  padding: 0.25rem 0.75rem;
                  color: rgb(94 234 212);
                  background-color: rgba(45, 212, 191, 0.1);
                  border-radius: 0.75rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// .textflip-animate {
//   perspective: 1000px;

//   span {
//     position: relative;
//     display: inline-block;
//     padding: 0;
//     transition: transform 0.3s;
//     transform-origin: 50% 0;
//     transform-style: preserve-3d;
//   }

//   span:before {
//     position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     content: attr(data-hover);
//     transition: color 0.3s;
//     transform: rotateX(-90deg);
//     transform-origin: 50% 0;
//     text-align: center;
//   }

//   &:hover span,
//   &:focus span {
//     transform: rotateX(90deg) translateY(-22px);
//   }

//   &:hover span:before,
//   &:focus span:before {
//     color: rgb(210, 73, 54);
//   }
// }

.textflip-animate {
  perspective: 1000px;
  cursor: default;

  span {
    position: relative;
    display: inline-block;
    padding: 0;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    animation: flip 10s infinite, textclip 5s linear infinite;
    transition: color 0.3s;
    background-size: 200% auto;
    color: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // animation: textclip 1s linear infinite;
    background-image: linear-gradient(
      -225deg,
      #fff 0%,
      #34ffe0 48%,
      #5eead4 100%
    );

    &:before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      content: attr(data-flip);
      transform: rotateX(-90deg);
      transform-origin: 50% 0;
      text-align: left;
      white-space: nowrap;
    }

    &:before {
      // color: var(--tertiary-color);
      // color: linear-gradient(-225deg, #fff 0%, #34ffe0 48%, #5eead4 100%);
      // background-size: auto auto;
      // background-clip: border-box;
      transition: color 0.3s;
      background-size: 200% auto;
      color: var(--primary-color);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 4.95s linear infinite;
      background-image: linear-gradient(
        -225deg,
        #fff 0%,
        #34ffe0 48%,
        #5eead4 100%
      );
    }

    // &:hover {
    //   background-size: auto auto;
    //   background-clip: border-box;
    //   background-size: 200% auto;
    //   color: var(--primary-color);
    //   background-clip: text;
    //   -webkit-background-clip: text;
    //   -webkit-text-fill-color: transparent;
    //   animation: textclip 1s linear infinite;
    //   background-image: linear-gradient(
    //     -225deg,
    //     #fff 0%,
    //     #34ffe0 48%,
    //     #5eead4 100%
    //   );
    // }
  }

  &.flipped::before {
    color: rgb(210, 73, 54);
  }
}

@keyframes flip {
  0%,
  20% {
    transform: rotateX(0deg);
  }
  40%,
  60% {
    transform: rotateX(90deg) translateY(-22px);
  }
  80%,
  100% {
    transform: rotateX(0deg);
  }
}
// @keyframes flip {
//   0%,
//   80% {
//     transform: rotateX(0deg);
//   }
//   85%,
//   95% {
//     transform: rotateX(90deg) translateY(-22px);
//   }
//   100% {
//     transform: rotateX(0deg);
//   }
// }
