ion-content {
  --background: rgb(var(--color-bg-primary));
  position: relative;
  z-index: 1;
}
ion-content:hover::before {
  --size: 75rem;
  pointer-events: none;
}
ion-content::before {
  --size: 0rem;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgba(var(--color-hover-radial-gradient), var(--opacity-hover-radial-gradient)), transparent 80%);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  z-index: 1;
  pointer-events: none;
}
ion-content:has(nav .menu__sidebar .meteor__toggle.active) .meteors {
  display: block;
}
ion-content .meteors {
  display: none;
}
ion-content main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  position: relative;
  z-index: 2;
  pointer-events: all;
  gap: 1rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  scrollbar-width: none; /* Firefox */
}
ion-content main :-webkit-scrollbar {
  display: none;
}
ion-content main div,
ion-content main section {
  display: flex;
  flex-direction: inherit;
}
ion-content main nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: fixed;
  padding: 1.5rem 3rem;
  z-index: 3;
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
}
ion-content main nav .menu__icon {
  display: none;
}
ion-content main nav .menu__span {
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
ion-content main nav .menu__span:hover {
  color: rgb(var(--color-text-secondary)) !important;
}
ion-content main nav .menu__sidebar {
  flex-direction: row;
  gap: 2rem;
}
ion-content main nav .menu__sidebar button {
  outline: none;
}
ion-content main nav .menu__sidebar button.meteor__toggle {
  background: transparent;
}
ion-content main nav .menu__sidebar button.meteor__toggle i {
  color: rgb(var(--color-text-primary));
}
ion-content main nav .menu__sidebar button.meteor__toggle.active i {
  color: rgb(var(--color-button-primary));
}
ion-content main nav .menu__sidebar button.meteor__toggle.active:hover i {
  color: rgb(var(--color-text-primary));
}
ion-content main nav .menu__sidebar button.meteor__toggle:not(.active):hover i {
  color: rgb(var(--color-button-primary));
}
ion-content main nav .menu__sidebar i {
  font-size: 1.25rem;
  color: rgb(var(--color-text-primary));
  transition: 0.3s;
}
ion-content main nav .menu__sidebar .themes {
  position: relative;
  width: 1.3125rem;
}
ion-content main nav .menu__sidebar .themes .themes__list {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: 1rem;
}
ion-content main nav .menu__sidebar .themes .themes__list.collapsed .theme {
  display: flex;
  opacity: 1;
}
ion-content main nav .menu__sidebar .themes .themes__list.collapsed .theme.default {
  transform: scale(1.15);
  background: rgb(var(--color-bg-primary));
}
ion-content main nav .menu__sidebar .themes .themes__list .theme {
  display: none;
  width: 1.3125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid rgb(var(--color-text-primary));
  cursor: pointer;
  transition: opacity 1.5s, transform 0.5s;
  opacity: 0;
  background: linear-gradient(to right, rgb(var(--color-button-primary)) calc(33.3333333333% - 1px), rgb(var(--color-text-primary)) 33.3333333333% 66.6666666667%, rgb(var(--color-text-secondary)) calc(66.6666666667% - 1px));
}
ion-content main nav .menu__sidebar .themes .themes__list .theme:hover {
  transform: scale(1.15);
}
ion-content main nav .menu__sidebar .themes .themes__list .theme.default {
  display: flex;
  opacity: 1;
}
ion-content main nav .menu__sidebar .themes .themes__list .theme.active {
  display: none;
  opacity: 0;
}
ion-content main nav .menu__sidebar .themes .themes__list .theme[data-theme=britanny] {
  --color-text-primary: 226, 232, 240;
  --color-text-secondary: 148, 163, 184;
  --color-button-primary: 94, 234, 212;
}
ion-content main nav .menu__sidebar .themes .themes__list .theme[data-theme=tron-orange] {
  --color-text-primary: 255, 102, 0;
  --color-text-secondary: 226, 232, 240;
  --color-button-primary: 240, 232, 0;
}
ion-content main nav .menu__sidebar .themes .themes__list .theme[data-theme=joker] {
  --color-text-primary: 117, 84, 163;
  --color-text-secondary: 233, 226, 245;
  --color-button-primary: 153, 222, 30;
}
ion-content main nav .menu__sidebar .themes .themes__list .theme[data-theme=anti-hero] {
  --color-text-primary: 255, 61, 139;
  --color-text-secondary: 241, 222, 239;
  --color-button-primary: 255, 173, 173;
}
ion-content main nav .menu__sidebar .themes .themes__list .theme[data-theme=floret] {
  --color-text-primary: 119, 144, 151;
  --color-text-secondary: 229, 229, 229;
  --color-button-primary: 255, 221, 109;
}
ion-content main nav .menu__sidebar .themes .themes__list .theme[data-theme=dino] {
  --color-text-primary: 213, 213, 213;
  --color-text-secondary: 29, 34, 31;
  --color-button-primary: 64, 214, 114;
}
ion-content main nav .menu__sidebar .themes .themes__list .theme[data-theme=rainbow-trail] {
  --color-text-primary: 79, 79, 79;
  --color-text-secondary: 31, 31, 31;
  --color-button-primary: 54, 54, 54;
}
ion-content main nav .menu__sidebar .themes .themes__list .theme[data-theme=husqy] {
  --color-text-primary: 151, 47, 255;
  --color-text-secondary: 235, 215, 255;
  --color-button-primary: 197, 138, 255;
}
ion-content main nav .menu__sidebar .themes .themes__list .theme[data-theme=matrix] {
  --color-text-primary: 0, 101, 0;
  --color-text-secondary: 209, 255, 205;
  --color-button-primary: 21, 255, 0;
}
ion-content main nav .menu__sidebar .themes .themes__list .theme[data-theme=cyberspace] {
  --color-text-primary: 149, 120, 211;
  --color-text-secondary: 194, 251, 225;
  --color-button-primary: 0, 206, 124;
}
ion-content main section {
  width: 100%;
  min-height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  position: relative;
}
ion-content main section .item {
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
ion-content main section .item__header {
  font-size: 3.75rem;
}
ion-content main section .item__header span strong {
  cursor: default;
}
ion-content main section .item__subheader {
  line-height: 1.65;
  font-size: 1.125rem;
}
ion-content main section .item__subheader span {
  color: rgb(var(--color-text-secondary));
}
ion-content main section .item__button {
  width: auto;
  padding: 1rem 3rem;
  border: 2px solid;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
ion-content main section .item__button:hover {
  background-color: rgba(var(--color-button-bg-primary), 0.7) !important;
}
ion-content main section .item__button .label {
  color: rgb(var(--color-bg-primary));
}
ion-content main section#hero {
  position: relative;
  scroll-snap-align: center;
}
ion-content main section#hero .item {
  flex-direction: column;
  width: 60%;
}
ion-content main section#hero .item__header {
  font-size: 5rem;
}
ion-content main section#hero .item__header span {
  position: relative;
}
ion-content main section#hero .item__header span span {
  position: relative;
}
ion-content main section#hero .item__header span span strong {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
ion-content main section#hero .item__header span span:has(strong.active) .soc__med {
  transform: translate(55%, -50%) rotate(-90deg);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}
ion-content main section#hero .item__header span span:has(strong.active) .soc__med .soc {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.4s;
  backdrop-filter: blur(50%);
  -webkit-backdrop-filter: blur(50%);
  border-radius: 50%;
  background-color: rgba(var(--color-bg-secondary), var(--opacity-bg-secondary));
  cursor: pointer;
  transform: rotate(-270deg);
}
ion-content main section#hero .item__header span span:has(strong.active) .soc__med .soc a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
ion-content main section#hero .item__header span span:has(strong.active) .soc__med .soc a i {
  transition: color 0.5s, font-size 1s;
  color: rgb(var(--color-text-primary));
  font-size: 3rem;
}
ion-content main section#hero .item__header span span:has(strong.active) .soc__med .soc:hover a i {
  color: rgb(var(--color-button-primary));
}
ion-content main section#hero .item__header span span .soc__med {
  width: 100%;
  max-width: 14rem;
  border: 2px solid transparent;
  border-left: 2px solid rgba(var(--color-text-primary), 0.1);
  border-right: 2px solid rgba(var(--color-text-primary), 0.1);
  border-bottom: 2px solid rgba(var(--color-text-primary), 0.1);
  border-radius: 50%;
  aspect-ratio: 1;
  position: absolute;
  right: 0%;
  top: 55%;
  transform: translate(55%, -50%) rotate(120deg);
  transition: transform 1s;
  pointer-events: none;
  -webkit-box-shadow: inset 0 0 6px rgba(var(--color-black), 0.6);
}
ion-content main section#hero .item__header span span .soc__med .soc {
  opacity: 0;
  position: absolute;
  aspect-ratio: 1;
  width: 4.25rem;
  padding: 0.25rem;
  transition: opacity 0.5s;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transform: rotate(-270deg);
  z-index: 1;
}
ion-content main section#hero .item__header span span .soc__med .soc:first-child {
  left: 0%;
}
ion-content main section#hero .item__header span span .soc__med .soc:nth-child(2) {
  left: 50%;
  bottom: -15%;
}
ion-content main section#hero .item__header span span .soc__med .soc:nth-child(3) {
  left: 85%;
  bottom: 20%;
}
ion-content main section#hero .item__header span span .soc__med .soc i {
  transition: color 0.3s, font-size 1.5s;
  color: rgb(var(--color-button-primary));
  font-size: 1rem;
}
ion-content main section#hero .item__subheader {
  font-size: 1.5rem;
  width: 60%;
}
ion-content main section#hero .avatar {
  position: absolute;
  top: 1rem;
  right: 3rem;
}
ion-content main section#hero .section__scroll {
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  opacity: 0.2;
  transition: 0.4s;
}
ion-content main section#hero .section__scroll:hover {
  opacity: 1;
}
ion-content main section#hero .section__scroll span {
  opacity: 0;
  transition: 0.5s;
  cursor: default;
}
ion-content main section#hero .section__scroll:has(.circle__scroll:hover) span {
  opacity: 1;
}
ion-content main section#work {
  display: grid;
  grid-template-columns: calc(40% - 2rem) calc(60% - 2rem);
  width: 100%;
  height: 100%;
  padding-block: 4.25rem 1rem;
  align-items: flex-start;
  gap: 4rem;
  align-items: start;
  justify-items: center;
  scroll-snap-align: end;
}
ion-content main section#work .about__us {
  flex-direction: column;
  width: 60%;
  position: sticky;
  top: 4.25rem;
  gap: 3rem;
  align-items: flex-start;
  padding-bottom: 1rem;
  padding-inline: 5rem 0;
}
ion-content main section#work .about__us .item__header span {
  font-size: 3rem;
}
ion-content main section#work .about__us .body {
  gap: 1rem;
}
ion-content main section#work .work__container {
  width: 100%;
  height: 100%;
  gap: 4rem;
  align-items: start;
  justify-items: center;
  overflow-y: scroll;
  padding-inline: 0 5rem;
  position: relative;
}
ion-content main section#work .work__container #workExperience {
  position: absolute;
  top: 0;
}
ion-content main section#work .work__container #educationExperience {
  position: absolute;
  top: 50%;
}
ion-content main section#work .work__container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(var(--color-black), 0.6);
  border-radius: 1rem;
}
ion-content main section#work .work__container::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
  border-radius: 1rem;
}
ion-content main section#work .work__container::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-text-primary), 0.1);
  border-radius: 1rem;
}
ion-content main section#work .work__container span {
  --font-inter: "__inter_20b187", "__inter_Fallback_20b187";
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
}
ion-content main section#work .work__container .work__list {
  flex-direction: column;
  gap: 1.5rem;
}
ion-content main section#work .work__container .work__list .header {
  flex-direction: row;
  width: auto;
  padding-inline: 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
ion-content main section#work .work__container .work__list .header .div {
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
ion-content main section#work .work__container .work__list .header .div:hover span strong {
  color: rgb(var(--color-button-primary));
}
ion-content main section#work .work__container .work__list .header .div:hover i {
  transform: translate(0, -0.5rem);
  color: rgb(var(--color-button-primary));
}
ion-content main section#work .work__container .work__list .header .div i {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  rotate: 45deg;
  transition: 0.3s;
}
ion-content main section#work .work__container .work__list:has(.work:hover) .work:not(:hover) {
  opacity: 0.5;
}
ion-content main section#work .work__container .work__list .work {
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  border-radius: 0.25rem;
  overflow: hidden;
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
  transition: 0.1s;
  cursor: pointer;
}
ion-content main section#work .work__container .work__list .work:hover {
  background-color: rgba(var(--color-card-bg-hover), 0.5);
  filter: drop-shadow(0 10px 8px rgba(var(--color-card-shadow), 0.04)) drop-shadow(0 4px 3px rgba(var(--color-card-shadow), 0.1));
  --tw-ring-offset-shadow: 0 0 rgb(var(--color-black));
  --tw-ring-shadow: 0 0 rgb(var(--color-black));
  --tw-shadow: inset 0 1px 0 0
    rgba(var(--color-card-inset-shadow), 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgb(var(--color-black))), var(--tw-ring-shadow, 0 0 rgb(var(--color-black))), var(--tw-shadow);
}
ion-content main section#work .work__container .work__list .work:not(:has(.links .link:hover)):hover .body .details .title a {
  background-size: 200% auto;
  color: rgb(var(--color-text-primary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s linear infinite;
  background-image: var(--linear-gradient-animate);
}
ion-content main section#work .work__container .work__list .work:not(:has(.links .link:hover)):hover .body .details .title i {
  transform: translate(0, -0.5rem);
  color: rgb(var(--color-button-primary));
}
ion-content main section#work .work__container .work__list .work .date {
  width: 100%;
  height: 100%;
  align-self: flex-start;
  max-width: 8rem;
  margin-block: 0.25rem;
}
ion-content main section#work .work__container .work__list .work .date span {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(var(--color-text-secondary));
}
ion-content main section#work .work__container .work__list .work .body {
  flex-direction: column;
  gap: 1rem;
}
ion-content main section#work .work__container .work__list .work .body .details {
  gap: 0.5rem;
}
ion-content main section#work .work__container .work__list .work .body .details .title {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: rgb(var(--color-text-primary));
}
ion-content main section#work .work__container .work__list .work .body .details .title a {
  text-decoration: none;
}
ion-content main section#work .work__container .work__list .work .body .details .title i {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  rotate: 45deg;
  transition: 0.3s;
}
ion-content main section#work .work__container .work__list .work .body .details .description {
  flex-direction: row;
}
ion-content main section#work .work__container .work__list .work .body .details .description span {
  line-height: 1.5;
  font-size: 0.875rem;
  color: rgb(var(--color-text-secondary));
}
ion-content main section#work .work__container .work__list .work .body .details .description span i {
  color: rgb(var(--color-text-secondary));
}
ion-content main section#work .work__container .work__list .work .body .links {
  flex-direction: row;
  gap: 1rem;
}
ion-content main section#work .work__container .work__list .work .body .links a.link {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  align-items: center;
  text-decoration: none;
  color: rgb(var(--color-text-primary));
  cursor: pointer;
}
ion-content main section#work .work__container .work__list .work .body .links a.link:hover i,
ion-content main section#work .work__container .work__list .work .body .links a.link:hover span {
  color: rgb(var(--color-button-primary));
}
ion-content main section#work .work__container .work__list .work .body .links a.link i {
  font-size: 0.675rem;
  margin-top: 0.25rem;
}
ion-content main section#work .work__container .work__list .work .body .links a.link span {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
ion-content main section#work .work__container .work__list .work .body .skills {
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
ion-content main section#work .work__container .work__list .work .body .skills .skill {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  color: rgb(var(--color-button-primary));
  background-color: rgba(var(--color-button-primary), 0.1);
  border-radius: 0.75rem;
}
ion-content main section#work .work__container .work__list .work.education .body .details .description {
  flex-direction: column;
}
ion-content main section#work .work__container .work__list .scroll {
  display: flex;
  align-items: center;
  width: auto;
  position: absolute;
  top: 50%;
  right: 1rem;
  gap: 2rem;
}
ion-content main section#work .work__container .work__list .scroll span {
  color: rgb(var(--color-text-primary));
  transform: rotate(90deg);
  text-transform: uppercase;
  font-size: 0.75rem;
}
ion-content main section#work .work__container .work__list .scroll .arrow {
  width: 0;
  height: 4.5rem;
  border: 1px solid rgb(var(--color-text-primary));
  position: relative;
  animation: scroll 1.5s infinite;
  -webkit-animation: scroll 1.5s infinite;
}
ion-content main section#work .work__container .work__list .scroll .arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: -5px;
  width: 1px;
  height: 10px;
  border-top: 10px solid rgb(var(--color-text-primary));
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
@keyframes scroll {
  0% {
    height: 4.5rem;
  }
  30% {
    height: 3rem;
  }
  60% {
    height: 4.5rem;
  }
}
ion-content main section#projects {
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-block: 4.25rem 2rem;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: end;
  gap: 2rem;
}
ion-content main section#projects .section__header {
  width: 100%;
  align-items: center;
}
ion-content main section#projects .section__header .title span {
  font-size: 3rem;
}
ion-content main section#projects .section__header .title span strong {
  cursor: default;
}
ion-content main section#projects .section__header .subtitle {
  width: 50%;
}
ion-content main section#projects .section__header .subtitle span {
  text-align: right;
  font-size: 1rem;
}
ion-content main section#projects .section__body {
  width: 100%;
  height: 100%;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
ion-content main section#projects .section__body .scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 3rem;
  bottom: 1rem;
  gap: 0.5rem;
}
ion-content main section#projects .section__body .scroll span {
  color: rgb(var(--color-text-primary));
  text-transform: uppercase;
  font-size: 1rem;
}
ion-content main section#projects .section__body .scroll span.hover {
  display: none;
}
ion-content main section#projects .section__body .scroll img {
  height: 2rem;
  aspect-ratio: 16/9;
}
ion-content main section#projects .section__body .scroll:hover {
  gap: 0.25;
}
ion-content main section#projects .section__body .scroll:hover img {
  visibility: hidden;
}
ion-content main section#projects .section__body .scroll:hover span.hover {
  display: flex;
}
ion-content main section#projects .section__body .scroll:hover span.hover strong {
  color: rgb(var(--color-button-primary));
}
ion-content main section#projects .section__body .scroll .arrow {
  width: 4.5rem;
  height: 0;
  border: 1px solid rgb(var(--color-text-primary));
  position: relative;
  animation: scroll-right 1.5s infinite;
  -webkit-animation: scroll-right 1.5s infinite;
}
ion-content main section#projects .section__body .scroll .arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 0px;
  height: 0px;
  border-left: 10px solid rgb(var(--color-text-primary));
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
@keyframes scroll-right {
  0% {
    width: 4.5rem;
  }
  30% {
    width: 6rem;
  }
  60% {
    width: 4.5rem;
  }
}

@media screen and (max-width: 768px) {
  ion-content main {
    scrollbar-width: auto; /* Firefox */
    min-height: 100vh;
    scroll-snap-type: none;
  }
  ion-content main nav {
    padding: 1rem;
  }
  ion-content main nav .menu__icon {
    display: flex;
    cursor: pointer;
  }
  ion-content main nav .menu__icon i {
    font-size: 1.25rem;
    color: rgb(var(--color-text-primary));
    transition: 0.3s;
  }
  ion-content main nav .menu__span {
    display: none;
  }
  ion-content main nav .menu__sidebar button.meteor__toggle {
    display: none;
  }
  ion-content main section .item__header {
    font-size: 1.75rem;
  }
  ion-content main section .item__subheader {
    line-height: 1.5;
    font-size: 0.825rem;
  }
  ion-content main section#hero .item {
    padding-inline: 2rem;
    width: auto;
    gap: 1rem;
    margin: auto;
  }
  ion-content main section#hero .item__header {
    font-size: clamp(1.5rem, 0.4286rem + 5.3571vw, 3rem);
  }
  ion-content main section#hero .item__header span span:has(strong.active) .soc__med .soc a i {
    font-size: clamp(1rem, -0.0714rem + 5.3571vw, 2.5rem);
  }
  ion-content main section#hero .item__header span span .soc__med {
    display: none;
    min-width: clamp(7rem, 2rem + 25vw, 10rem);
  }
  ion-content main section#hero .item__header span span .soc__med .soc {
    width: 2.25rem;
  }
  ion-content main section#hero .item__subheader {
    font-size: clamp(0.75rem, 0.3929rem + 1.7857vw, 1.25rem);
    width: 100%;
  }
  ion-content main section#hero .section__scroll span {
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
  }
  ion-content main section#work {
    display: flex;
    flex-direction: column;
    padding: 3.25rem 1rem 1rem;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }
  ion-content main section#work .about__us {
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 0;
    gap: 2rem;
    align-items: flex-start;
    padding-inline: 0 1rem;
    padding-bottom: 0;
  }
  ion-content main section#work .about__us .item__header span {
    font-size: 1rem;
  }
  ion-content main section#work .about__us .item__subheader span {
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
  }
  ion-content main section#work .about__us .body {
    gap: 1rem;
  }
  ion-content main section#work .about__us .item__button {
    padding: 0.25rem 1rem;
  }
  ion-content main section#work .about__us .item__button span {
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
  }
  ion-content main section#work .work__container {
    width: 100%;
    height: 100%;
    gap: 4rem;
    align-items: start;
    justify-items: center;
    overflow-y: scroll;
    padding-inline: 0;
    position: relative;
  }
  ion-content main section#work .work__container #workExperience {
    position: absolute;
    top: 0;
  }
  ion-content main section#work .work__container #educationExperience {
    position: absolute;
    top: 50%;
  }
  ion-content main section#work .work__container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(var(--color-black), 0.6);
    border-radius: 1rem;
  }
  ion-content main section#work .work__container::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
    border-radius: 1rem;
  }
  ion-content main section#work .work__container::-webkit-scrollbar-thumb {
    background-color: rgba(var(--color-text-primary), 0.1);
    border-radius: 1rem;
  }
  ion-content main section#work .work__container span {
    --font-inter: "__inter_20b187", "__inter_Fallback_20b187";
    font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
  }
  ion-content main section#work .work__container .work__list {
    flex-direction: column;
    gap: 1rem;
  }
  ion-content main section#work .work__container .work__list .header {
    flex-direction: row;
    width: auto;
    padding-inline: 0;
    position: sticky;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    font-size: clamp(0.875rem, 0.6071rem + 1.3393vw, 1.25rem);
  }
  ion-content main section#work .work__container .work__list .header.educ {
    top: 1.5rem;
  }
  ion-content main section#work .work__container .work__list .header .div {
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  ion-content main section#work .work__container .work__list .header .div:hover span strong {
    color: rgb(var(--color-button-primary));
  }
  ion-content main section#work .work__container .work__list .header .div:hover i {
    transform: translate(0, -0.5rem);
    color: rgb(var(--color-button-primary));
  }
  ion-content main section#work .work__container .work__list .header .div i {
    font-size: clamp(0.875rem, 0.6071rem + 1.3393vw, 1.25rem);
    margin-top: 0.25rem;
    rotate: 45deg;
    transition: 0.3s;
  }
  ion-content main section#work .work__container .work__list:has(.work:hover) .work:not(:hover) {
    opacity: 0.5;
  }
  ion-content main section#work .work__container .work__list .work {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 0.25rem;
    overflow: hidden;
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    transition: 0.1s;
    cursor: pointer;
  }
  ion-content main section#work .work__container .work__list .work:hover {
    background-color: rgba(var(--color-bg-secondary), var(--opacity-bg-secondary));
    --tw-ring-offset-shadow: 0 0 rgb(var(--color-black));
    --tw-ring-shadow: 0 0 rgb(var(--color-black));
    --tw-shadow: inset 0 1px 0 0
      rgba(var(--color-card-inset-shadow), 0.1);
    filter: drop-shadow(0 10px 8px rgba(var(--color-black), 0.04)) drop-shadow(0 4px 3px rgba(var(--color-black), 0.1));
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgb(var(--color-black))), var(--tw-ring-shadow, 0 0 rgb(var(--color-black))), var(--tw-shadow);
  }
  ion-content main section#work .work__container .work__list .work:not(:has(.links .link:hover)):hover .body .details .title a {
    background-size: 200% auto;
    color: rgb(var(--color-text-primary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1s linear infinite;
    background-image: var(--linear-gradient-animate);
  }
  ion-content main section#work .work__container .work__list .work:not(:has(.links .link:hover)):hover .body .details .title i {
    transform: translate(0, -0.5rem);
    color: rgb(var(--color-button-primary));
  }
  ion-content main section#work .work__container .work__list .work .date {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    max-width: 100%;
    margin-block: 0.25rem;
  }
  ion-content main section#work .work__container .work__list .work .date span {
    font-weight: 600;
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
    line-height: 1rem;
    color: rgb(var(--color-text-secondary));
  }
  ion-content main section#work .work__container .work__list .work .date:has(img) {
    display: none;
  }
  ion-content main section#work .work__container .work__list .work .body {
    flex-direction: column;
    gap: 1rem;
  }
  ion-content main section#work .work__container .work__list .work .body .details {
    gap: 0.5rem;
  }
  ion-content main section#work .work__container .work__list .work .body .details .title {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.875rem, 0.6071rem + 1.3393vw, 1.25rem);
    color: rgb(var(--color-text-primary));
  }
  ion-content main section#work .work__container .work__list .work .body .details .title a {
    text-decoration: none;
  }
  ion-content main section#work .work__container .work__list .work .body .details .title i {
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
    margin-top: 0.25rem;
    rotate: 45deg;
    transition: 0.3s;
  }
  ion-content main section#work .work__container .work__list .work .body .details .description {
    flex-direction: row;
  }
  ion-content main section#work .work__container .work__list .work .body .details .description span {
    line-height: 1.5;
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
    color: rgb(var(--color-text-secondary));
  }
  ion-content main section#work .work__container .work__list .work .body .details .description span i {
    color: rgb(var(--color-text-secondary));
  }
  ion-content main section#work .work__container .work__list .work .body .links {
    flex-direction: row;
    gap: 1rem;
  }
  ion-content main section#work .work__container .work__list .work .body .links a.link {
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
    align-items: center;
    text-decoration: none;
    color: rgb(var(--color-text-primary));
    cursor: pointer;
  }
  ion-content main section#work .work__container .work__list .work .body .links a.link:hover i,
  ion-content main section#work .work__container .work__list .work .body .links a.link:hover span {
    color: rgb(var(--color-button-primary));
  }
  ion-content main section#work .work__container .work__list .work .body .links a.link i {
    font-size: 0.675rem;
    margin-top: 0.25rem;
  }
  ion-content main section#work .work__container .work__list .work .body .links a.link span {
    font-weight: 600;
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
    line-height: 1.25rem;
  }
  ion-content main section#work .work__container .work__list .work .body .skills {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }
  ion-content main section#work .work__container .work__list .work .body .skills .skill {
    font-size: 0.675rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding: 0.25rem 0.75rem;
    color: rgb(var(--color-button-primary));
    background-color: rgba(var(--color-button-bg-primary), 0.1);
    border-radius: 0.75rem;
  }
  ion-content main section#work .work__container .work__list .work.education .body .details .description {
    flex-direction: column;
  }
  ion-content main section#work .work__container .work__list .scroll {
    display: none;
    align-items: center;
    width: auto;
    position: absolute;
    top: 50%;
    right: 1rem;
    gap: 2rem;
  }
  ion-content main section#work .work__container .work__list .scroll span {
    color: rgb(var(--color-text-primary));
    transform: rotate(90deg);
    text-transform: uppercase;
    font-size: 0.75rem;
  }
  ion-content main section#work .work__container .work__list .scroll .arrow {
    width: 0;
    height: 4.5rem;
    border: 1px solid rgb(var(--color-text-primary));
    position: relative;
    animation: scroll 1.5s infinite;
    -webkit-animation: scroll 1.5s infinite;
  }
  ion-content main section#work .work__container .work__list .scroll .arrow::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: -5px;
    width: 1px;
    height: 10px;
    border-top: 10px solid rgb(var(--color-text-primary));
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  @keyframes scroll {
    0% {
      height: 4.5rem;
    }
    30% {
      height: 3rem;
    }
    60% {
      height: 4.5rem;
    }
  }
  ion-content main section#projects {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-block: 4.25rem 2rem;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: end;
    gap: 2rem;
  }
  ion-content main section#projects .section__header {
    width: 100%;
    align-items: center;
  }
  ion-content main section#projects .section__header .title span {
    font-size: 1.25rem;
  }
  ion-content main section#projects .section__header .title span strong {
    cursor: default;
  }
  ion-content main section#projects .section__header .subtitle {
    width: 50%;
  }
  ion-content main section#projects .section__header .subtitle span {
    text-align: right;
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
  }
  ion-content main section#projects .section__body {
    width: 100%;
    height: 100%;
    gap: 4rem;
    align-items: center;
    justify-content: center;
  }
  ion-content main section#projects .section__body .scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 3rem;
    bottom: 0.5rem;
    gap: 2rem;
  }
  ion-content main section#projects .section__body .scroll span {
    color: rgb(var(--color-text-primary));
    text-transform: uppercase;
    font-size: 0.75rem;
  }
  ion-content main section#projects .section__body .scroll .arrow {
    width: 4.5rem;
    height: 0;
    border: 1px solid rgb(var(--color-text-primary));
    position: relative;
    animation: scroll-right 1.5s infinite;
    -webkit-animation: scroll-right 1.5s infinite;
  }
  ion-content main section#projects .section__body .scroll .arrow::after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 0px;
    height: 0px;
    border-left: 10px solid rgb(var(--color-text-primary));
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  @keyframes scroll-right {
    0% {
      width: 4.5rem;
    }
    30% {
      width: 6rem;
    }
    60% {
      width: 4.5rem;
    }
  }
}/*# sourceMappingURL=home.page.css.map */