<ion-content #mainElement [fullscreen]="true">
  <div class="meteors">
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
  </div>
  <main>
    <nav>
      <div class="menu">
        <div class="menu__icon"></div>
        <span class="menu__span" data-color="primary-color"
          >&#64;delacruzjimmy</span
        >
      </div>
      <div class="menu__sidebar">
        <!-- <button type="button" class="meteor__toggle">
          <i class="fa-solid fa-meteor"></i>
        </button> -->
        <button
          type="button"
          class="meteor__toggle"
          (click)="toggleMeteors($event)"
          [ngClass]="{'active': isMeteorsActive}"
          id="meteor"
          aria-label="meteor"
        >
          <i class="fa-solid fa-meteor"></i>
        </button>
        <!-- <ion-popover trigger="meteor" triggerAction="hover">
          <ng-template>
            <ion-content class="ion-padding">Hello World!</ion-content>
          </ng-template>
        </ion-popover> -->
      </div>
    </nav>
    <section id="hero" style="display: flex">
      <div class="item" data-color="primary-color">
        <div class="item__header">
          <span>
            Hi, my <br />
            name is
            <span
              (click)="toggleSocialMedia($event)"
              [ngClass]="{'active': isSocialMediaActive}"
            >
              <strong class="text-highlight hover">&nbsp;Jimz</strong>
              <div class="soc__med">
                <div class="soc"><i class="fa-brands fa-linkedin"></i></div>
                <div class="soc"><i class="fa-brands fa-github"></i></div>
                <div class="soc"><i class="fa-brands fa-instagram"></i></div>
              </div> </span
            >.
          </span>
        </div>
        <div class="item__subheader">
          <span>
            I'm a
            <strong class="textflip-animate color__effect">
              <span data-flip="frontend developer">
                junior software developer</span
              > </strong
            ><br />
            from <span data-color="primary-color">Makati, Philippines</span>.
          </span>
        </div>
      </div>
      <div class="avatar">
        <!-- <app-avatar></app-avatar> -->
      </div>

      <div class="scroll__down">
        <div class="arrows">
          <div class="arrow"></div>
          <div class="arrow"></div>
          <div class="arrow"></div>
        </div>
        <span class="scroll">Scroll Down</span>
      </div>
    </section>

    <section id="work" style="display: flex">
      <div class="about__us" data-color="primary-color">
        <div class="body">
          <div class="item__header">
            <span
              ><strong class="text-highlight hover"> About Me. </strong></span
            >
          </div>
          <div class="item__subheader">
            <span>
              From interaction design to scaleable design systems, single-page
              apps to something more experimental with WebGL. I help awesome
              people to build ambitious yet accessible web projects -
              <strong> the wilder, the better </strong>.
            </span>
          </div>
        </div>
        <a
          class="item__button"
          data-color="tertiary-color"
          data-color-bg="transparent-color"
        >
          <span class="label"><strong>Let's work together</strong></span>
        </a>
      </div>
      <div class="work__container">
        <!-- <div class="item" data-color="primary-color">
          <div class="body">
            <div class="item__header">
              <span
                ><strong class="text-highlight hover"> About Me. </strong></span
              >
            </div>
            <div class="item__subheader">
              <span>
                From interaction design to scaleable design systems, single-page
                apps to something more experimental with WebGL. I help awesome
                people to build ambitious yet accessible web projects -
                <strong> the wilder, the better </strong>.
              </span>
            </div>
          </div>
          <a
            class="item__button"
            data-color="tertiary-color"
            data-color-bg="transparent-color"
          >
            <span class="label"><strong>Let's work together</strong></span>
            <span class="fill"><strong>Let's work together</strong></span>
          </a>
        </div> -->
        <div class="work__list">
          <div class="header">
            <div class="div">
              <span><strong>Work Experience</strong></span>
              <i class="fa-solid fa-arrow-up"></i>
            </div>
          </div>
          <div class="work">
            <div class="date"><span>SEP 2023 — PRESENT</span></div>
            <div class="body">
              <div class="details">
                <div class="title">
                  <a href="" target="_blank" class="">
                    &nbsp;<strong
                      >Junior Software Developer &nbsp; · &nbsp; Bastion,
                      Inc.</strong
                    >
                  </a>
                  <i class="fa-solid fa-arrow-up"></i>
                </div>
                <div class="description">
                  &nbsp;
                  <span>
                    Developed and optimized web applications with ASP.NET MVC
                    and mobile apps using Ionic Angular, focusing on
                    functionality, responsiveness, and cross-platform
                    compatibility. Conducted thorough testing and debugging, and
                    maintained robust performance through ongoing updates and
                    collaboration with cross-functional teams.
                  </span>
                </div>
              </div>
              <!-- <div class="links">
                <a href="#" class="link" target="_blank">
                  <i class="fa-solid fa-paperclip"></i>
                  <span>OmniPay</span></a
                >
                <a href="#" class="link" target="_blank">
                  <i class="fa-solid fa-paperclip"></i>
                  <span>Binpo</span></a
                >
              </div> -->
              <div class="skills">
                <span class="skill">ASP.NET MVC</span>
                <span class="skill">C#</span>
                <span class="skill">Ionic Framework</span>
                <span class="skill">AngularJS</span>
                <span class="skill">SCSS</span>
                <span class="skill">GitHub</span>
              </div>
            </div>
          </div>
          <div class="work">
            <div class="date"><span>Jan 2023 — May 2023</span></div>
            <div class="body">
              <div class="details">
                <div class="title">
                  <a href="" target="_blank" class="">
                    <strong
                      >Technical Staff Intern &nbsp; · &nbsp; IP Mgmt
                      Div.</strong
                    >
                  </a>
                  <i class="fa-solid fa-arrow-up"></i>
                </div>
                <div class="description">
                  <span>
                    Provide technical support, design creative layouts using
                    Canva for diverse projects, and implement technical
                    solutions. More over, maintained the database management
                    system and troubleshoot/resolve database bugs.
                  </span>
                </div>
              </div>
              <!-- <div class="links">
              </div> -->
              <div class="skills">
                <span class="skill">PHP</span>
                <span class="skill">MySQL</span>
                <span class="skill">Canva</span>
                <span class="skill">Video Editing</span>
              </div>
            </div>
          </div>
          <div class="header">
            <div class="div">
              <span><strong>Education</strong></span>
              <i class="fa-solid fa-arrow-up"></i>
            </div>
          </div>
          <div class="work education">
            <div class="date"><span>Aug 2019 — July 2023</span></div>
            <div class="body">
              <div class="details">
                <div class="title">
                  <a href="" target="_blank" class="">
                    <strong
                      >BS Information Technology &nbsp; · &nbsp; Bicol
                      University.</strong
                    >
                  </a>
                  <i class="fa-solid fa-arrow-up"></i>
                </div>
                <div class="description">
                  <span>&bull;<i> Cum Laude</i></span>
                  <span>&bull;<i> Dean's List</i></span>
                </div>
              </div>
              <div class="links">
                <a href="#" class="link" target="_blank">
                  <i class="fa-solid fa-location-dot"></i>
                  <span>Legazpi City, Albay</span></a
                >
              </div>
            </div>
          </div>
          <div class="work education">
            <div class="date"><span>2017 — 2019</span></div>
            <div class="body">
              <div class="details">
                <div class="title">
                  <a href="" target="_blank" class="">
                    <strong
                      >STEM &nbsp; · &nbsp; Ateneo de Naga University.</strong
                    >
                  </a>
                  <i class="fa-solid fa-arrow-up"></i>
                </div>
                <div class="description">
                  <span>Senior High School</span>
                </div>
              </div>
              <div class="links">
                <a href="#" class="link" target="_blank">
                  <i class="fa-solid fa-location-dot"></i>
                  <span>Naga City, Camarines Sur</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="projects">
      <div class="section__header">
        <div class="title">
          <span
            ><strong class="text-highlight hover">
              Check out my latest work.
            </strong></span
          >
        </div>
        <!-- <div class="subtitle">
          <span
            >I've worked on a variety of projects, from simple websites to
            complex web applications. Here are a few of my favorites.</span
          >
        </div> -->
      </div>
      <div class="section__body">
        <div class="project__list">
          <div></div>
          <div class="project">
            <div class="preview">
              <img src="" alt="" />
              <iframe src="" frameborder="0"></iframe>
            </div>
            <div class="body">
              <div class="details">
                <div class="title">
                  <a href="" target="_blank" class="">
                    <strong>TrackMinder &nbsp; · &nbsp; Mobile App</strong>
                  </a>
                  <i class="fa-solid fa-arrow-up"></i>
                </div>
                <div class="description">
                  <span
                    >Trackminder is an all-in-one reminder, planner, scheduler,
                    and tracker app designed to help users organize their tasks,
                    appointments, health, and goals efficiently.</span
                  >
                </div>
              </div>
              <div class="links">
                <div class="link">
                  <i class="fa-solid fa-mobile-screen-button"></i>
                  <strong>
                    <span data-flip="StartUp Project"> Mobile Development</span>
                  </strong>
                </div>
              </div>
              <div class="skills">
                <div class="skill">Angular</div>
                <div class="skill">Ionic Framework</div>
                <div class="skill">Typescript</div>
                <div class="skill">SCSS</div>
                <div class="skill">GitHub</div>
              </div>
            </div>
            <!-- <div class="preview__toggle">
              <ion-toggle>Preview</ion-toggle>
            </div> -->
          </div>
          <div class="project">
            <div class="preview">
              <img src="" alt="" />
              <iframe
                src="https://atg-db.netlify.app/"
                frameborder="0"
              ></iframe>
            </div>
            <div class="body">
              <div class="details">
                <div class="title">
                  <a
                    href="https://atg-db.netlify.app/"
                    target="_blank"
                    class=""
                    rel="noopener"
                  >
                    <strong
                      >Against the Gods Database &nbsp; · &nbsp; Web App</strong
                    >
                  </a>
                  <i class="fa-solid fa-arrow-up"></i>
                </div>
                <div class="description">
                  <span
                    >My personal fan-made website for the Against The Gods
                    Donghua/Anime</span
                  >
                </div>
              </div>
              <div class="links">
                <div class="link">
                  <i class="fa-solid fa-laptop-code"></i>
                  <strong>
                    <span data-flip="Personal Project"> Web Development</span>
                  </strong>
                  <!-- <span
                    ><strong>Web Development</strong> (Personal Project)</span
                  > -->
                </div>
              </div>
              <div class="skills">
                <span class="skill">Bootstrap 5</span>
                <span class="skill">HTML:5</span>
                <div class="skill">SCSS</div>
                <span class="skill">Parse Platform</span>
                <span class="skill">Back4App</span>
              </div>
            </div>
            <!-- <div class="preview__toggle">
              <ion-toggle>Preview</ion-toggle>
            </div> -->
          </div>
          <div class="project">
            <div class="preview">
              <img src="" alt="" />
              <iframe src="https://albuy.netlify.app/" frameborder="0"></iframe>
            </div>
            <div class="body">
              <div class="details">
                <div class="title">
                  <a
                    href="https://albuy.netlify.app/"
                    target="_blank"
                    class=""
                    rel="noopener"
                  >
                    <strong>AlBuy &nbsp; · &nbsp; E-commerce Web App</strong>
                  </a>
                  <i class="fa-solid fa-arrow-up"></i>
                </div>
                <div class="description">
                  <span
                    >An E-commerce platform for DTI's One Town, One Product Hubs
                    in Albay, Bicol.</span
                  >
                </div>
              </div>
              <div class="links">
                <div class="link">
                  <i class="fa-solid fa-laptop-code"></i>
                  <strong>
                    <span data-flip="Capstone Project"> Web Development</span>
                  </strong>
                </div>
              </div>
              <div class="skills">
                <div class="skill">Vue JS</div>
                <div class="skill">Node JS</div>
                <div class="skill">Parse Platform</div>
                <div class="skill">TeleportHQ</div>
                <div class="skill">Figma</div>
                <div class="skill">Back4App</div>
              </div>
            </div>
            <!-- <div class="preview__toggle">
              <ion-toggle>Preview</ion-toggle>
            </div> -->
          </div>
          <div class="project">
            <div class="preview">
              <img src="" alt="" />
              <iframe src="" frameborder="0"></iframe>
            </div>
            <div class="body">
              <div class="details">
                <div class="title">
                  <a href="" target="_blank" class="">
                    <strong>Data Analysis &nbsp; · &nbsp; Tableau</strong>
                  </a>
                  <i class="fa-solid fa-arrow-up"></i>
                </div>
                <div class="description">
                  <span
                    >An Analysis of Pre-Disaster Preparedness in Albay, Bicol
                    Region.</span
                  >
                </div>
              </div>
              <div class="links">
                <div class="link">
                  <i class="fa-solid fa-flask"></i>
                  <strong>
                    <span data-flip="Case Study"> Data Analytics</span>
                  </strong>
                </div>
              </div>
              <div class="skills">
                <div class="skill">Tableau</div>
                <div class="skill">Microsoft Excel</div>
                <div class="skill">Data Visualization</div>
              </div>
            </div>
            <!-- <div class="preview__toggle">
              <ion-toggle>Preview</ion-toggle>
            </div> -->
          </div>
          <div class="project">
            <div class="preview">
              <img src="" alt="" />
              <iframe src="" frameborder="0"></iframe>
            </div>
            <div class="body">
              <div class="details">
                <div class="title">
                  <a href="" target="_blank" class="">
                    <strong>Data Analysis &nbsp; · &nbsp; R-Studio</strong>
                  </a>
                  <i class="fa-solid fa-arrow-up"></i>
                </div>
                <div class="description">
                  <span
                    >Procurement Management of the Resources Used During the
                    First Quarter by Philippine Government Agencies as Response
                    Measures to the COVID-19 Pandemic in the Bicol Region.</span
                  >
                </div>
              </div>
              <div class="links">
                <div class="link">
                  <i class="fa-solid fa-flask"></i>
                  <strong>
                    <span data-flip="Case Study"> Data Analytics</span>
                  </strong>
                </div>
              </div>
              <div class="skills">
                <div class="skill">R-Studio</div>
                <div class="skill">R</div>
                <div class="skill">Data Visualization</div>
              </div>
            </div>
            <!-- <div class="preview__toggle">
              <ion-toggle>Preview</ion-toggle>
            </div> -->
          </div>
        </div>
      </div>
    </section>
  </main>
</ion-content>

<!--
animation: {
        meteor: "meteor 5s linear infinite",
      },
keyframes: {
  meteor: {
    "0%": { transform: "rotate(215deg) translateX(0)", opacity: 1 },
    "70%": { opacity: 1 },
    "100%": {
      transform: "rotate(215deg) translateX(-500px)",
      opacity: 0,
    },
  },
}, -->
